


button {
    border-radius: 8px;
    height: 30px;
    width: 150px;
}
.box4 
th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20rem);
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box1,
.box2,
.box3,
.box4 {
    width: 100%;
    min-width: 150px;
    height: 100%;
    text-align: center;
    
}
.box1 {
    background-color: #46494C;
    text-align: end;
    height: 50px;
    width: 100%;
}
.box1 .header-title {
    width: 95%;
    margin: 5px;
    color: white;
}
.box2 {
    background-color: #4C5C68;
    text-align: start;
}
.box2 .body-title {
    margin: 5px;
}
.box3 {
    background-color: #1985A1;
}
.box4 {
    background-color: #DCDCDD;
}
@media (min-width: 600px) {
    .box2 {
        height: 40px;
    }
    .box3,
    .box4 {
        width: 50%;
        height: 100%;
    }
}
@media (min-width: 800px) {
    .box1,
    .box2 {
        width: 100%;
    }
    .box3,
    .box4 {
        width: 50%;
    }
}
